.dog-detail-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dog-detail-card {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
}

.dog-detail-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dog-detail-img {
  width: 80%;
  height: 60%;
  border-radius: 10px;
}

.dog-description {
  width: 80%;
}

.fav-button {
  align-self: center;
  background-color: #46046f;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
  border-color: white;
}
