.dog-detail-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dog-detail-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.dog-deteail-img {
  width: 90%;
  height: 60%;
  border-radius: 10px;
}

.dog-description {
  width: 80%;
}

.fav-button {
  align-self: center;
  background-color: #46046f;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
  border-color: white;
}
