.dog-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dog-card {
  height: 50%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.dog-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.view-button {
  align-self: center;
  text-decoration: none;
  background-color: #46046f;
  padding: 10px 14px;
  color: white;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #46046f;
}

.view-button:hover {
  align-self: center;
  text-decoration: none;
  border: 2px solid #46046f;
  background-color: white;
  padding: 10px 14px;
  color: #46046f;
  text-align: center;
  border-radius: 25px;
  margin: 20px 0px;
  font-size: 13px;
  font-weight: 600;
}
